* {
  box-sizing: border-box;
  align-items: center;
}

html {
  background-color: #e9e5e2;
  font-family: "Gotham";
}
h1 {
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 600;
}
h2 {
  font-size: 1.75em;
  line-height: 1em;
  font-weight: 600;
  font-weight: 500;
}

h3 {
  font-size: 1.5em;
  line-height: 1em;
  font-weight: 600;
  font-weight: normal;
}

#container {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.imagecol {
  align-items: left;
  margin: 20px;
}

[class*="col-"] {
  /*MOBILE*/
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 850px) {
  /*Tablet/Desktop*/
  #container {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .col-1 {
    width: 25%;
  }

  .col-2 {
    width: 75%;
    text-align: initial;
  }
  .col-3 {
    width: 75%;
    text-align: initial;
  }

  .col-links {
    width: 100%;
  }
}

nav {
  align-items: center;
  padding: 10px;
  margin: 10px;
}
nav ul {
  list-style: none;
  margin: 0 auto;
  padding: 1.5em 15px;
  display: table;
}

nav li {
  font-weight: bold;
  display: inline-block;
  color: #e9e5e2;
  border-radius: 1em;
  background: #cc837d;
  margin-left: 1%;
  margin-top: 1%;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 5px 12px;
  font-weight: 400;
}

nav a span {
  padding-top: 4px;
}

nav li:hover {
  color: white;
  background: #ff8e8e;
}

nav li:active {
  color: black;
  background: #d79c96;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: black;
    font-family: "Gotham";
    color: #e9e5e2;
  }
  nav {
    align-items: center;
    padding: 10px;
    margin: 10px;
  }
  nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 1.5em 15px;
    display: table;
  }

  nav li {
    font-weight: bold;
    display: inline-block;
    color: white;
    border-radius: 1em;
    background: #25564c;
    margin-left: 1%;
    margin-top: 1%;
  }

  nav a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 5px 12px;
    font-weight: 400;
  }

  nav a span {
    padding-top: 4px;
  }

  nav li:hover {
    color: white;
    background: #3a8878;
  }

  nav li:active {
    color: black;
    background: #d79c96;
  }
}

.pronouns {
  font-family: "Gotham";
  font-weight: lighter;
  font-size: medium;
}
